
# Question 1
a = 0 def b(): global a a = c(a)

def c(a): return a + 2

b() b() b() a What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [16]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2 

b()
b()
b()
a

6

##### Understanding
here the Variable a is defined as global so it can be access by any class and perform the operation.

So when 1s time the b() called the new value of a = 2 (0+2)
when 2nd time the b() called the new value of a = 4 (2 + 2)
when 3rd time the b() called the new value of a = 6 (4 + 2)

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [17]:
def file_length(file_name):
    try:
        #Try to read File was asked
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File " + file_name + " not found.")
    
file_length("idterm.py")
file_length("midterm.py")

File idterm.py not found.
File midterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial() m.put_in_pouch('doll') m.put_in_pouch('firetruck') m.put_in_pouch('kitten') m.pouch_contents() ['doll', 'firetruck', 'kitten'] Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the str operator so it behaves as shown below.

In [18]:
class Marsupial:#defined class Marsupial
    l = []
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def put_in_pouch(self, s):
        self.l.append(s)
        
    def pouch_contents(self):
        print(self.l)
        
class Kangaroo(Marsupial):#creating subcalss of Marsupial
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):#overloading __str__() for desired output
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)
    
    
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [19]:
def collatz(x):#defining recursive function collatz
    print(x)
    while x != 1:
        if (x & 1): 
            x = 3 * x + 1
        else:
            x = x // 2
        print(x)

n = int(input("Enter a number : "))
collatz(n)

Enter a number : 10
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [5]:
l = []
def rec_binary(n):
    if (n == 0):
        return
    l.append(str(n % 2))
    rec_binary(n//2)

def binary(n):
    rec_binary(n)
    s = ''.join(map(str, l[::-1]))
    print(s)

n = int(input("Enter a number : "))
binary(n)

Enter a number : 10
1010

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [2]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    (h1,h2,h3,h4,h5,h6) = (False, False,False,False,False,False)
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.h1 = True
        if tag == 'h2':
            self.h2 = True
        if tag == 'h3':
            self.h3 = True
        if tag == 'h4':
            self.h4 = True
        if tag == 'h5':
            self.h5 = True
        if tag == 'h6':
            self.h6 = True
            

    def handle_endtag(self, tag):
        if tag == 'h1':
            self.h1 = False
        if tag == 'h2':
            self.h2 = False
        if tag == 'h3':
            self.h3 = False
        if tag == 'h4':
            self.h4 = False
        if tag == 'h5':
            self.h5 = False
        if tag == 'h6':
            self.h6 = False
            

    def handle_data(self, data):
        if self.h1:
            print(data)
        elif self.h2:
            print("    {}".format(data))
        elif self.h3:
            print("        {}".format(data))
        elif self.h4:
            print("            {}".format(data))
        elif self.h5:
            print("                {}".format(data))
        elif self.h6:
            print("                    {}".format(data))
        
        
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [1]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen
class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for at in attrs:
                if at[0] == 'href':
                    absolute = urljoin(self.url, at[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)                        
    def getLinks(self):
        return self.links

In [2]:
def webdir(url,depth,indent):
    if(depth<0):
        return
    resource = urlopen(url)
    collector = Collector(url)
    content = resource.read().decode()
    collector.feed(content)
    print("    "*indent +url)
    listOfLinks = collector.getLinks()
    
    for l in listOfLinks:
        webdir(l,depth-1,indent+1)

In [3]:
webdir("https://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:

a) All the temperature data.

    SELECT Temperature From tbltemperature
    
b) All the cities, but without repetition.

     SELECT DISTINCT city FROM tbltemperature   

c) All the records for India.

     SELECT * FROM tbltemperature WHERE Country = India 

d) All the Fall records.

     SELECT * FROM tbltemperature WHERE Season = Fall 
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

     SELECT city, country, season FROM tbltemperature Group by city, country, season  having AVG(rainfall) BETWEEN 200 AND 400     

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

     SELECT city, country FROM tbltemperature Group by city,country having AVG(Temperature) > 20 ORDER BY Temperature ASC 

g) The total annual rainfall for Cairo.

     SELECT SUM(Rainfall) FROM tbltemperature WHERE City = Cairo      

h) The total rainfall for each season.

      SELECT SUM(Rainfall) FROM tbltemperature GROUP BY Season

In [2]:
import sqlite3
file = "database/jaydeep.db"
conn = sqlite3.connect(file)

cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS tbltemperature (city text, country text, season text, temperature double, rainfall double)")


cur.execute("INSERT INTO tbltemperature VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO tbltemperature VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO tbltemperature VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO tbltemperature VALUES ('Mumbai','India','Fall', 27.6,346.0)")
cur.execute("INSERT INTO tbltemperature VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO tbltemperature VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO tbltemperature VALUES ('London','United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO tbltemperature VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO tbltemperature VALUES ('Cairo', 'Egypt', 'Fall', 22.2,4.5)")
cur.execute("INSERT INTO tbltemperature VALUES ('Cairo', 'Egypt', 'Winter', 13.6,16.5)")
cur.execute("INSERT INTO tbltemperature VALUES ('Cairo', 'Egypt', 'Spring', 20.5,6.5)")
cur.execute("INSERT INTO tbltemperature VALUES ('Cairo', 'Egypt', 'Summer', 27.7,0.1)")
conn.commit()

In [3]:
cur.execute("SELECT * from tbltemperature")

for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.5, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)

In [4]:
cur.execute("SELECT DISTINCT city FROM tbltemperature")

for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

In [5]:
cur.execute("SELECT * FROM tbltemperature WHERE Country = 'India'")

for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [6]:
cur.execute("SELECT * FROM tbltemperature WHERE Season = 'Fall'")

for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [8]:
cur.execute("SELECT city, country, season FROM tbltemperature Group by city, country, season  having AVG(rainfall) BETWEEN 200 AND 400")

for record in cur:
    print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [9]:
cur.execute("SELECT city, country FROM tbltemperature Group by city,country having AVG(Temperature) > 20 ORDER BY Temperature ASC ")

for record in cur:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [9]:
cur.execute("SELECT SUM(Rainfall) FROM tbltemperature WHERE City = 'Cairo'")

for record in cur:
    print(record)

(27.6,)

In [10]:
cur.execute("SELECT SUM(Rainfall) FROM tbltemperature GROUP BY Season")

for record in cur:
    print(record)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

In [ ]:
cur.execute("DROP TABLE Rain")

# Question 9 

. Suppose list words is defined as follows:
<br>words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
<br><br>Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [6]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upw = [w.upper() for w in words]
lw = [w.lower() for w in words]
lenwords = [len(w) for w in words]
allwordlst = [[w.upper(), w.lower(), len(w)] for w in words]
len_grt_4 = [w for w in words if len(w) >= 4]

print(upw,"\n\n", lw,"\n\n", lenwords,"\n\n", allwordlst,"\n\n", len_grt_4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

 [3, 5, 5, 3, 5, 4, 3, 4, 3]

 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

 ['quick', 'brown', 'jumps', 'over', 'lazy']